@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadeInDown { 
    0% {            
        bottom: 0;
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

input[type=text] {
    box-shadow:0 0 20px 4px rgba(0,0,0,0.06);
    border: 1px solid whitesmoke;
    background-color: #01A8C7;
    border-radius: 6px;
  }

body {
    margin: 0 auto;
    background: linear-gradient(90deg, #3AC8E3, #01A8C7);
    max-width: 1740px;
    max-height: 100%;
}
.header {
    margin-top: 5%;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}

.select-list_main {
    border-collapse: collapse;
    border: 1px solid #75EEFF;
    max-height: 100%;
    text-align: center;
    
}
.select-table_main {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin: 0;
    padding: 0;
    cursor: pointer;
}
td {
    border: 1px solid #75EEFF;
    width: 10%;
    padding: 3px;

}
td:nth-child(n+3):nth-child(-n+5) {
    width: 3%;
}
td:nth-child(7) {
    width: 21%;
}









.navmenu {

    display: flex;
    justify-content: space-around;
}




.sidenav {
    border: 2px solid #75EEFF;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    background: #01A8C7;
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 8%;
    max-width: 100%;
    position: fixed;
    top: 0;
    a {
        padding: 20px 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 25px;
        color: whitesmoke;
        display: block;
    }
    a:hover {
        color: #3AC8E3;
    }
}

.sidenav__form {
    border: 1px solid #75EEFF;
    border-radius: 15px;
    opacity: 0.9;
    animation-duration: 0.7s;
    animation-fill-mode: both; 
    animation-name: fadeInDown;
    position: absolute;
    bottom: 10%;
    width: 40%;
    height: 50%;
    padding: 2%;
    background: #01A8C7;
    .sidenav__form_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            align-self: center;
            margin: 20px;
        }
        :not(:last-child) {
            margin: 10px;
        }
    }
}
.viewport {
    margin-right: 10%;
}
.viewport__main {
    display: flex;
    color: #75EEFF;
    background-color: #32AEBF;
    li {
        margin: 0;
        flex-direction: row;
        height: 35px;
        flex-grow: 3;
        border: 1.5px solid #75EEFF;
        padding-top: 10px;
        list-style-type: none;
        text-align: center;
    }
    li:first-child {
        flex-grow: 1;
    }
    li:nth-child(n+3):nth-child(-n+5) {
        flex-grow: 1;
    }
    li:nth-child(4) {
        flex-grow: 5;
    }
    .select {
        height: 100%;
        text-align: center;
        border: none;
        background: none;
        border-radius: 0%;
        .select__list{
            margin-top: 2%;
        }
    }
}
  
  .hide {
    display: none;
  }
  .bgcolor {
      background-color: #006363;
  }

  